div img{
    height: 30vh;
    border-radius: 1000rem;
}
div p{
    text-align: right;
    font-size: 20px;
}
div .f a{
    text-decoration: none;
    color: white;
}

div .f button{
    font-size: larger;
    background-color: darkgreen;
    border-radius: 10px;
}

    

