.test img{
    height: 30vh;
    border-radius: 1000rem;
}
.test p{
    text-align: right;
    font-size: 20px;
}
.test .m{
    font-size: x-large;
    color: seagreen;
}
.test .f a{
    text-decoration: none;
    color: white;
}
.test1{
    text-align: center;

}
.test1 a img{
    height: 4vh;
}


    

