body{
    background-image: url(محمد.jpg);
}
.test1{
    text-align: right;
    font-size: xx-large;
}
.test1 a{
    color: white;
    text-decoration: none;
}
.test2{
    text-align: center;
}
.test2 button{
    font-size: 45px;
    background-image: url(button.jpg);
    border-radius: 50px;
    margin: 1rem;
    padding: 2rem;
}
.test2 a{
    font-size: 60px;
    text-decoration: none;
    color: white;
}
.test2 button a:hover{
    text-decoration: underline;
    
}