body{ 
    background-color: #000080;
}
.test1{
    text-align: right;
    font-size: x-large;
    margin: 20px;
    
    
}
.test1 a{
    text-decoration: none;
    color: white;
}
.test1 a:hover{
    color: skyblue;
}
.test{
    text-align: center;
}
.test h1{
    display: inline;
    
}
.test h1{
    color: black;
    font-size: 150px;
}
.test h2{
    display: inline;
    color: white;
    font-size: 150px;
}
.test h3{
    display: inline;
    color: white;
    font-size: 150px;

}
.test2 p{
    text-align: right;
    font-size: 25px;
    color: skyblue;
}
.s2{
    text-align: right;
}
.s2 h2{
    display: inline;
    font-size: 40px;
    color: white;

}
    

.s2 h3{
    display: inline;
    font-size: 50px;
    color: red;
}
.s3 img{
    text-align: left;
    height: 400px;
}
.test3 {
    text-align: center;
    
}
.test3 a{
    text-decoration: none;
    color: skyblue;
}
.test3 button{
    height: 5cm;
    background-color: black;
    margin: 1rem;
    border-radius: 10px;
    
    
    
    
}
.test3 .bb2{
    font-size: 50px;
    border-radius: 50px;
    
          
}
.test3 .bb1{
    font-size: 50px;
    border-radius: 50px;
}
.test3 .bb3{
    font-size: 50px;
    border-radius: 50px;
}
.test3 .bb1:hover{
    background-color: seagreen;

}   
.test3 .bb2:hover{
    background-color: seagreen;
}
.test3 .bb3:hover{
    background-color: seagreen;
}
.test3 .bb1 a{
    font-size: 43px;
    
}
.test3 .bb2 a{
    font-size: 65px;
}
.test3 .bb3 a{
    font-size: 45px;
}
.test3 .bb4{
    font-size: 50px;
    border-radius: 50px;
    background-color: black;
}
.test3 .bb4:hover{
    background-color: seagreen;
}
.test3 .bb5{
    font-size: 50px;
    border-radius: 50px;
    background-color: black;
}
.test3 .bb5 a{
    font-size: 30px;
}

.test3 .bb5:hover{
    background-color: seagreen;
}
.test3 .bb6{
    font-size: 50px;
    border-radius: 50px;
    background-color: black;
}
.test3 .bb6:hover{
    background-color: seagreen;
}
.test3 .bb7{
    font-size: 40px;
    border-radius: 50px;
}
.test3 .bb7:hover{
    background-color: seagreen;
}
h1{
    display: inline;

}

.test2 h2{
    text-align: right;
    color: white;
    font-size: 40px;
}
.test2 h2{
    text-align: right;
    
    font-size: 40px;
    color: white;
}
.test2 img{
    height: 400px;
    

}
.m1{
    text-align: center;
}
.m1 h2{
    display: inline;
    font-size: 90px;
    color: darkred;
}
.m1 h3{
    display: inline;
    font-size: 90px;
    color: white;
    
}
.m1 h4{
    display: inline;
    font-size: 90px;
    color: black;
}
.m2 p{
    text-align: right;
    font-size: 30px;
}
.test2 .m5{
    font-size: 30px;
    color: white;
}
.test2 .m6{
    font-size: 27px;
    color: black;
}



    




    
    







    



    

    



    



    

    

    




    
    
    


    
      




    



    



   
   
    
