body{
    background-image:url(button.jpg);
}

.test1{
    text-align: right;
    font-size: 30px;
    
}
.test1 a{
    text-decoration: none;
    color: white;
}
.test1 a:hover{
    color: seagreen;
    cursor: pointer;

}
