body{
    background-image: url(blue.jpg);
}
.test1{
    text-align: right;
    font-size: x-large;
}
.test1 a{
    color: white;
    text-decoration: none;
}
.test2{
    text-align: center;
}
.test2 button{
    font-size: 45px;
    background-color: black;
    border-radius: 50px;
    margin: 1rem;
}
.test2 a{
    text-decoration: none;
    color: skyblue;
}
.test2 button:hover{
    background-color: seagreen;
}