body{
    background-image: url(blue.jpg);



}
.test1{
    text-align: right;
    font-size: 30px;
    
}      
.test1 a{
    text-decoration: none;
    color: white;
}
.test1 a:hover{
    color: teal;
}
.test2{
    text-align: center;
}
.test2 button{
    margin: 1rem;
    font-size: xx-large;
    border-radius: 50px;
    background-color: black;
}
.test2 button a{
    text-decoration: none;
    color: skyblue;
    
}
.test2 button:hover{
    background-color: seagreen;
}